nav{
    display: flex;
    align-items: end;

    h1{
        font-size: 32px;
    }
    
    ul{
        display: flex;
        list-style: none;
        margin: 0;

        li{
            a{
                display: block;
                padding: 0 10px;
            }
        }
    }
}