p{
    margin: 0;
    padding: 0;
    height: 100%;
}

.message-container{
    padding: 0 15px;
    height: 0;
    opacity: 1;
    overflow: hidden;
}

.fade-in {
    padding: 10px 15px;
    height: 25px;
    opacity: 1;
    animation-name: fadeInAnimation;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 2s;
}

@keyframes fadeInAnimation {
    0%{
        padding: 0 15px;
        height: 0;
        opacity: 0;
    }

    100%{
        padding: 10px 15px;
        height: 25px;
        opacity: 1;
    }
}

.fade-out{
    padding: 0;
    height: 0;
    opacity: 0;
    animation-name: fadeOutAnimation;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 2s;
}


@keyframes fadeOutAnimation {
    0%{
        padding: 10px 15px;
        height: 25px;
        opacity: 1;
    }

    100%{
        padding: 0 15px;
        height: 0;
        opacity: 0;
    }
}