<main>
    <section class="box-container">
        <h1>-El arte de crear software con <u>propósito</u>, <u>detalle</u> y <u>conciencia</u>-</h1>
    </section>

    <section class="box-container">
        <h2>Proyectos</h2>
        <app-card-list [cardList]="projects"></app-card-list>
    </section>
    <section class="box-container">
        <h2>Últimos posts</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore officiis est suscipit ex ducimus numquam, mollitia exercitationem ea reiciendis itaque quia molestias nam voluptatum consequuntur quo fuga vitae possimus quasi?
        </p>
    </section>
</main>