<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"
    throwConfigExceptions="true"
    internalLogLevel="Info"
    internalLogFile="C:/temp/internal-nlog.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target name="database" xsi:type="Database"
            dbProvider="Npgsql.NpgsqlConnection, Npgsql" connectionString="Host=localhost;Port=5432;Database=jalvadev;Username=jalvadev_admin;Password=${var:PASS}" >
      <commandText>
        INSERT INTO "system_log" ("message", "level", "logger", "exception", "date")
        VALUES ( @message, @level, @logger, @exception, CAST(@date AS timestamp));
      </commandText>
      <parameter name="@message" layout="${message}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@exception" layout="${exception:tostring}" />
      <parameter name="@date" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
    </target>
  </targets>
  <rules>
    <logger name="*"  minlevel="Debug" maxlevel="Error" final="true" writeTo="database" />
  </rules>
</nlog>